body {
    background-color: aqua;
    text-align: center;
}

.page-header{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    z-index: 501;
    background-color: #fff;
}
.page-header a{
    text-decoration: none;
}
.page-header a img#site-title{
    position: fixed;
    top: 10px;
    right: 0;
    max-height: 45px;
    max-width: 100%;
}

header nav {
    display: block;
    float: left;
    padding: 0px 0px 18px 0;
    margin: -5px 0px -24px 30px;
    max-width: 50%;
    -webkit-transition: padding .25s ease-out;
    -moz-transition: padding .25s ease-out;
    -o-transition: padding .25s ease-out;
    transition: padding .25s ease-out;
    display: table-header-group;
}

header nav ul, header nav ol {
    list-style: none;
    list-style-image: none;
}

header nav a{
    font-family: "proxima-nova",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-style: normal;
    color: #8a8a8a;
    text-decoration: none;
    padding: 0 0 2px 0;
    border-bottom: 1px solid transparent;
}
